{
    "presets": [
        "es2015", 
        "react"
    ],
    "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "add-module-exports",
        ["module-resolver", {
        "root": ["./"],
        "alias": {
            "src": "./app/scripts/",
            "test": "./test/",
            "client": "./app/scripts/client",
            "server": "./app/scripts/server"
            }
        }]
  ]
}
