@import "colors.css";
@import "viewports.css";

.main {
    color: var(--color-white);
    display: flex;
    align-items: center;
}

.logo {
    min-width: 60px;
    line-height: 60px;
    background-color: var(--color-gold);
    color: var(--color-black);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.name {
    padding: 15px;
    font-weight: 700;
    transition: opacity .5s ease-out;
    @media (--mobile-screen) {
        opacity: 0;
    }
}
